<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Classifier Demo | Keith Galli</title>
</head>
<body>
  <h1>Category Classifier Demo</h1>
  <p>
    Write in a product review and see its category (ELECTRONICS/BOOKS/CLOTHING/GROCERY/PATIO). 
  </p>
  <form id="review-form" method="POST" action="{{ url_for('keith_galli_sklearn_demo', name='category-classifier') }}">
    <textarea placeholder="Write a review for a product" id="review" name="review"></textarea>
    <div id="category">Write a review</div>
    <button type="submit">Submit</button>
  </form>
  <p>
    The code of this project is available in 
    <a href="{{ url_for('keith_galli_sklearn', name='category-classifier') }}">Jupyter notebook</a> HTML format or visit the <a href="https://gitlab.com/nikhilnathr-machine-learning/sklearn-tutorial">project repository</a> in gitlab.
  </p>
  <script>
    window.addEventListener("load", () => {
      let reviewForm = document.getElementById("review-form");

      reviewForm.addEventListener("submit", e => {
        e.preventDefault();

        let review = document.getElementById("review");
        let category = document.getElementById("category");

        category.textContent = "Loading...";

        fetch("{{ url_for('keith_galli_sklearn_demo', name='category-classifier') }}", { 
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ review: review.value })
        }).then(res => res.text())
          .then(cont => category.textContent = cont)
          .catch(e => category.textContent = "Check your internet");
      });
    });
  </script>
</body>
</html>