<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machine Learning Projects</title>
</head>
<body>
  <main>
    <h1>Machine Learning Projects</h1>
    <section id="andrew-ng-coursera">
      <h2>Andrew NG Cousera</h2>
      <p>
        This course is taught by Andrew NG, Founder of <a href="https://www.deeplearning.ai/">deeplearning.ai</a> and <a href="https://coursera.org">Coursera</a>. I had done this course which is done using octave.
        After completing this course I wanted to learn machine learning in python and started implementing the exercises in python.
        To see the full code all at once you can go the the project repositories which are avaiable in 
        <a href="https://gitlab.com/nikhilnathr-machine-learning/machine-learning-course">Octave</a> and <a href="https://gitlab.com/nikhilnathr-machine-learning/machine-learning-course-python">Python</a> (work in progress).
        Find all the exercises below, I have added the Jupyter notebook HTML files for the different exercises.
      </p>
      <ol>
        <li id="andrew-ng-coursera-exercise-1">
          <h3>Linear Regression</h3>
          <ul>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex1') }}">Exercise 1.1</a> - Truck Profit Problem</li>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex1_multi') }}">Exercise 1.2 & 1.3</a> - House Price Prediction</li>
          </ul>
        </li>
  
        <li id="andrew-ng-coursera-exercise-2">
          <h3>Logistic Regression</h3>
          <ul>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex2') }}">Exercise 2.1</a> - Admission of Students</li>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex2_reg') }}">Exercise 2.2</a> - Microprocessor Problem</li>
          </ul>
        </li>
  
        <li id="andrew-ng-coursera-exercise-3">
          <h3>Multi-class Classification and Neural Networks</h3>
          <ul>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex3') }}">Exercise 3.1</a> - Handwritten number recognition (One-vs-all)</li>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex3_nn') }}">Exercise 3.2</a> - Neural Network (Feedforward Propogation)</li>
          </ul>
        </li>
  
        <li id="andrew-ng-coursera-exercise-4">
          <h3>Neural Network Learning</h3>
          <ul>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex4') }}">Exercise 4.1</a> - Handwritten number recognition</li>
          </ul>
        </li>

        <li id="andrew-ng-coursera-exercise-5">
          <h3>Regularized Linear Regression and Bias v.s. Variance</h3>
          <ul>
            <li><a href="{{ url_for('andrew_ng_coursera', name='ex5') }}">Exercise 5.1</a> - Dam waterflow</li>
          </ul>
        </li>
      </ol>
    </section>

    <section id="keith-galli-sklearn">
      <h2>Keith Galli sklearn Tutorial</h2>
      <p>
        These are some simple natual language classifiers. To see the code goto the <a href="https://gitlab.com/nikhilnathr-machine-learning/sklearn-tutorial">project repository</a> in gitlab
        These classifies were trained using the data from <a href="http://jmcauley.ucsd.edu/data/amazon/">http://jmcauley.ucsd.edu/data/amazon/</a>, which collects Amazon ratings data. 
      </p>
      <ol>
       
        <li id="keith-galli-sklearn-sentiment-classifier">
          <h3>Sentiment Classifier</h3>
          <p>
            This classifier labels different reviews as either POSITIVE of NEGATIVE. This data was splitted up into managable pieces and given to SVM, Decision Tree, Gaussian Naive Bayes and Logistic Regression for training.
            After viewing the F1 scores SVM and Logistic Regression had comparable scores, so both were optimized using GridSearchCV. Now the SVM model had a higher score and is saved.
            A heatmap of the test data is plotted for visual confirmation of results.
          </p>
          <ul>
            <li><a href="{{ url_for('keith_galli_sklearn', name='sentiment-classifier') }}">Jupyter notebook HTML</a></li>
            <li><a href="{{ url_for('keith_galli_sklearn_demo', name='sentiment-classifier') }}">Live demo</a></li>
          </ul>
        </li>
      
        <li id="keith-galli-sklearn-category-classifier">
          <h3>Category Classifier</h3>
          <p>
            This classifier labels different reviews based on their categories as ELECTRONICS/BOOKS/CLOTHING/GROCERY/PATIO. The same process as the <a href="#keith-galli-sklearn-sentiment-classifier">sentiment classifier</a>
            was done and the SVM model showed a slightly greater F1 scores. The model and vectorizer were saved.
          </p>
          <ul>
            <li><a href="{{ url_for('keith_galli_sklearn', name='category-classifier') }}">Jupyter notebook HTML</a></li>
            <li><a href="{{ url_for('keith_galli_sklearn_demo', name='category-classifier') }}">Live Demo</a></li>
          </ul>
        </li>
      </ol>
    </section>

  </main>
</body>
</html>